name: GitHub Actions Demo
on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # 下载源码
    - name: Checkout
      uses: actions/checkout@master

    # 打包构建
    - name: Build
      uses: actions/setup-node@master
    - run: npm install
    - run: npm run build
    - run: tar -zcvf release.tgz .nuxt static nuxt.config.js package.json pm2.config.json

    # 部署到服务器
    - name: Deploy
      uses: appleboy/ssh-action@master
      with:
      host: ${{ secrets.actions.HOST }}
      username: ${{ actions.secrets.USERNAME }}
      password: ${{ secrets.PASSWORD }}
      port: ${{ secrets.PORT }}
      script: |
        cd /root/realworld-nuxtjs
        wget https://github.com/swwRikka/realworld-nuxtjs-test/releases/latest/download/release.tgz -O release.tgz
        tar zxvf release.tgz
        npm install --production
        pm2 reload pm2.config.json